/* config.rasi — D_WM-XFCE rofi launcher */

configuration {
    modi: "drun,window,run";
    show-icons: true;
    display-drun: "apps";
    display-window: "windows";
    display-run: "run";
    drun-display-format: "{name}";
    font: "monospace 14";
    sort: true;
    case-sensitive: false;
    cycle: true;
    sidebar-mode: false;
}

@import "theme.rasi"
